---
http_interactions:
- request:
    method: post
    uri: https://api.gitter.im/v1/rooms?uri=zoso10/gittr
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer redacted
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1421607455153'
      X-Server-Id:
      - app-003
      X-Upstream:
      - 127.0.0.1:5025
    body:
      encoding: UTF-8
      string: '{"id":"54bc01e3db8155e6700ecbca","name":"zoso10/Gittr","topic":"Gitter
        REST API wrapper","uri":"zoso10/Gittr","oneToOne":false,"userCount":1,"users":[{"id":"54b7df5bdb8155e6700eb552","username":"zoso10","displayName":"Tyler
        Ewing","url":"/zoso10","avatarUrlSmall":"https://avatars.githubusercontent.com/u/1211946?v=3&s=60","avatarUrlMedium":"https://avatars.githubusercontent.com/u/1211946?v=3&s=128","role":"admin"}],"unreadItems":0,"mentions":0,"lurk":false,"url":"/zoso10/Gittr","githubType":"REPO","security":"PUBLIC","premium":false,"noindex":false}'
  recorded_at: Sun, 18 Jan 2015 18:56:35 GMT
recorded_with: VCR 2.9.3
