---
http_interactions:
- request:
    method: get
    uri: https://api.gitter.im/v1/rooms/54b7e136db8155e6700eb569/chatMessages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer redacted
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"JcUQ/JkncJa96HHGFtRbbA=="
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1421668826819'
      X-Server-Id:
      - app-003
      X-Upstream:
      - 127.0.0.1:5025
    body:
      encoding: UTF-8
      string: '[{"id":"54b813d8573df0f923452810","text":"thats pretty cool","html":"thats
        pretty cool","sent":"2015-01-15T19:24:08.324Z","editedAt":null,"fromUser":{"id":"54b7df5bdb8155e6700eb552","username":"zoso10","displayName":"Tyler
        Ewing","url":"/zoso10","avatarUrlSmall":"https://avatars.githubusercontent.com/u/1211946?v=3&s=60","avatarUrlMedium":"https://avatars.githubusercontent.com/u/1211946?v=3&s=128"},"unread":false,"readBy":1,"urls":[],"mentions":[],"issues":[],"meta":{},"v":1},{"id":"54b813f6573df0f923452819","text":"geesh,
        no wonder i felt so jaded after work yesterday. i worked 9 hours and 52 minutes.","html":"geesh,
        no wonder i felt so jaded after work yesterday. i worked 9 hours and 52 minutes.","sent":"2015-01-15T19:24:38.639Z","editedAt":null,"fromUser":{"id":"54b7e066db8155e6700eb55e","username":"Phyllostachys","displayName":"Jacob
        Shaffer","url":"/Phyllostachys","avatarUrlSmall":"https://avatars.githubusercontent.com/u/1503954[...]
- request:
    method: get
    uri: https://api.gitter.im/v1/rooms/54b7e136db8155e6700eb569/chatMessages?limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer redacted
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"SnLpQFUPIECV4wXL/HPuLQ=="
      X-Ratelimit-Limit:
      - '100'
      X-Rate[...]
