---
http_interactions:
- request:
    method: get
    uri: https://api.gitter.im/v1/rooms/54b7e136db8155e6700eb569/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 804870a200eac2a8d44e20d1efbc8552c9265539
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"22d-57f81da6"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1421606814377'
      X-Server-Id:
      - app-001
      X-Upstream:
      - 127.0.0.1:5025
    body:
      encoding: UTF-8
      string: '[{"id":"54b7df5bdb8155e6700eb552","username":"zoso10","displayName":"Tyler
        Ewing","url":"/zoso10","avatarUrlSmall":"https://avatars.githubusercontent.com/u/1211946?v=3&s=60","avatarUrlMedium":"https://avatars.githubusercontent.com/u/1211946?v=3&s=128","role":"admin"},{"id":"54b7e066db8155e6700eb55e","username":"Phyllostachys","displayName":"Jacob
        Shaffer","url":"/Phyllostachys","avatarUrlSmall":"https://avatars.githubusercontent.com/u/1503954?v=3&s=60","avatarUrlMedium":"https://avatars.githubusercontent.com/u/1503954?v=3&s=128","role":"contributor"}]'
  recorded_at: Sun, 18 Jan 2015 18:45:54 GMT
recorded_with: VCR 2.9.3
