---
http_interactions:
- request:
    method: get
    uri: https://api.gitter.im/v1/rooms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer redacted
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"152-522a706e"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1421605289697'
      X-Server-Id:
      - app-002
      X-Upstream:
      - 127.0.0.1:5025
    body:
      encoding: US-ASCII
      string: ! '[{"id":"54b7e136db8155e6700eb569","name":"zoso10/skriv","topic":"Advanced
        Note-Taking Application","uri":"zoso10/skriv","oneToOne":false,"userCount":2,"unreadItems":0,"mentions":0,"lastAccessTime":"2015-01-18T15:14:53.598Z","lurk":false,"url":"/zoso10/skriv","githubType":"REPO","security":"PUBLIC","premium":false,"noindex":false,"v":1}]'
  recorded_at: Sun, 18 Jan 2015 18:20:29 GMT
recorded_with: VCR 2.9.3
